*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
}
/* INFO */
.info{
    display: flex;
    justify-content: center;
    padding: 0rem 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #15536C;
}
.info_h1{
    font-size: 3em;
    padding-bottom: 1rem;
}
.info_h3{
    font-size: 1.2em;
    color: #15536C;
    text-decoration: none;
}
@media(min-width: 1140px){
    .info{
        display: flex;
        justify-content: center;
        padding: 5em 0 3em 0;
        color: #15536C;
    }
    .info_h1{
        font-size: 3.5em;
        padding-bottom: 1rem;
    }
    .info_h3{
        font-size: 1.5em;
        text-decoration: none;
    }
}
mq
/* FORM */
.label{
    font-size: 20px;
    font-weight: 600;
}
.input{
    color: white;
    margin: 0.5em 0;
    font-size: 18px;
    padding: 1rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 17em;
    height: 3.5em;
}
.input_area{
    color: white;
    margin: 0.5em 0;
    font-size: 18px;
    padding: 1rem 1rem;
    background-color:#373D4D;
    border: solid 1px grey;
    outline: none;
    width: 17em;
    height: 10em;
    resize: none;
}
.form{
    display: flex;
    justify-content: center;
}
.form_right{
    padding: 2rem 1rem;
}
.form_left{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
.form_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit{
    color: #243443;
    font-size: 14px;
    padding: 0.8rem 1.8rem;
    font-weight: 800;
    background-color: #a7d1ff;
    border-radius: 1.4rem;
}
.submit:hover{
    background-color: #cbf4f7;
}
.form_area_sub{
    padding: 1rem 2rem;
}
.form_submit{
    display: flex;
    align-items: flex-start;
    width: 93%;
    padding: 0rem 2rem;
}
.form_left{
    padding: 0rem 3rem 3rem 3rem;
    text-align: justify;
}
.link{
    text-decoration: none;
    font-weight: 600;
    color: #125254;
}
:hover.link{
    color: #0097ff;
    border-bottom: 2px solid ;
}
@media(min-width: 1140px){
    .form_container{
        display: flex;
        justify-content: center;
    }
    .form_center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .input{
        margin: 0.5rem 1rem;
    }
    .label{
        font-size: 1.3rem;
        margin: 0.5rem 1rem;
    }
    .form_area_sub{
        padding: 0.5rem 1rem;
    }
    .input_area{
        width: 36em;
    }
    .form_submit{
        padding: 0rem 1rem;
    }
    .form_left{
        padding: 2rem 3rem 3rem 3rem;
    }
}